In [4]:

import pandas as pd
import numpy as np

In [5]:
df=pd.read_excel('weather.xlsx')

In [22]:
df.head(5)

   Day   Outlook Temperature Humidity    Wind Play
0    1     Sunny         Hot     High    Weak   No
1    2     Sunny         Hot     High  Strong   No
2    3  Overcast         Hot     High    Weak  Yes
3    4      Rain        Mild     High    Weak  Yes
4    5      Rain        Cool   Normal    Weak  Yes

In [9]:
for i in df:
    print('*',i,'*')
    print(df[i].unique())

* Day *
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
* Outlook *
['Sunny' 'Overcast' 'Rain']
* Temperature *
['Hot' 'Mild' 'Cool']
* Humidity *
['High' 'Normal']
* Wind *
['Weak' 'Strong']
* Play *
['No' 'Yes']

## Marginal probabilities(individual column)

### what is the probability of getting rain tommarow

In [10]:
sum(df['Outlook']=='Rain')

5

In [11]:
len(df)

14

In [12]:
sum(df['Outlook']=='Rain')/len(df)

0.35714285714285715

## way2

In [14]:
df['Outlook'].value_counts()

Outlook
Sunny       5
Rain        5
Overcast    4
Name: count, dtype: int64

In [15]:
df['Outlook'].value_counts(normalize=True)

Outlook
Sunny       0.357143
Rain        0.357143
Overcast    0.285714
Name: proportion, dtype: float64

In [16]:
df['Outlook'].value_counts(normalize=True)[1]

C:\Users\teju1\AppData\Local\Temp\ipykernel_24948\349765868.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['Outlook'].value_counts(normalize=True)[1]

np.float64(0.35714285714285715)

In [17]:
df['Outlook'].value_counts(normalize=True).loc['Rain']

np.float64(0.35714285714285715)

### what is the probability of playing crickrt tommorow?

In [18]:
sum(df['Play']=='Yes')

9

In [19]:
len(df)

14

In [20]:
sum(df['Play']=='Yes')/len(df)

0.6428571428571429

## way 2

In [21]:
df['Play'].value_counts(normalize=True).loc['Yes'] ## label base accesing

np.float64(0.6428571428571429)

### what is the probability that temperature is not cool tommorow?

In [27]:
df['Temperature'].value_counts(normalize=True).loc['Cool']

np.float64(0.2857142857142857)

In [28]:
1-df['Temperature'].value_counts(normalize=True).loc['Cool']

np.float64(0.7142857142857143)

## Joint Probabilites (and | or) - Multiple Columns

## what is the probability of playing cricket and temparature is hot?

In [30]:
sum((df['Play']=='Yes') & (df['Temperature']=='Hot'))

2

In [31]:
sum((df['Play']=='Yes') & (df['Temperature']=='Hot'))/len(df)

0.14285714285714285

In [34]:
pd.crosstab(index=df['Play'],columns=df['Temperature'],normalize=True).loc['Yes']['Hot']

np.float64(0.14285714285714285)

In [35]:
pd.crosstab(index=df['Temperature'],columns=df['Play'],normalize=True).loc['Hot']['Yes']

np.float64(0.14285714285714285)

## what is the probablility of humidity is normal and temperature is cool?

In [36]:
sum((df['Humidity']=='Normal') & (df['Temperature']=='Cool'))/len(df)

0.2857142857142857

### way 2

In [37]:
pd.crosstab(index=df['Humidity'],columns=df['Temperature'],normalize=True).loc['Normal']['Cool']

np.float64(0.2857142857142857)

## Conditional Probability -- one event is happend, what is the chance of other event

## what is the probability of playing cricket if it is raining

In [38]:
pd.crosstab(index=df['Play'],columns=df['Outlook'],normalize=True)

Outlook  Overcast      Rain     Sunny
Play
No       0.000000  0.142857  0.214286
Yes      0.285714  0.214286  0.142857

In [42]:
pd.crosstab(index=df['Play'],columns=df['Outlook'],normalize='columns')

Outlook  Overcast  Rain  Sunny
Play
No            0.0   0.4    0.6
Yes           1.0   0.6    0.4

In [41]:
pd.crosstab(index=df['Play'],columns=df['Outlook'],normalize='columns').loc['Yes']['Rain']

np.float64(0.6)

## what is the probablity of not playing cricket when humidity is high?

In [44]:
pd.crosstab(index=df['Play'],columns=df['Humidity'],normalize='columns')

Humidity      High    Normal
Play
No        0.571429  0.142857
Yes       0.428571  0.857143

In [45]:
pd.crosstab(index=df['Play'],columns=df['Humidity'],normalize='columns').loc['No']['High']

np.float64(0.5714285714285714)

In [48]:
pd.crosstab(index=df['Humidity'],columns=df['Play'],normalize='index').loc['High']['No']

np.float64(0.5714285714285714)

In [49]:
pd.crosstab(index=df['Humidity'],columns=df['Play'],normalize='index').loc['High']

Play
No     0.571429
Yes    0.428571
Name: High, dtype: float64